@import url('bootstrap/dist/css/bootstrap.min.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(216, 195, 195), rgb(13, 225, 63));
}
.box{
    margin: auto;
    margin-top: 40px;
    width: 450px;
    text-align: center;
    display: flex;
    background-color: bisque;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 20px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px orangered;
}
.row1{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    width: 70%;
    margin-left: 70px;
    margin-bottom: 10px;
}
.row1 input{
    width: 100%;
    
}
.row1 .btn{
    width: 30%;
    margin-left: 10px;
}

.delete{
    text-align: center;
}




@media screen and (max-width: 412px) {
    .box {
      width: 90%; /* The width is 100%, when the viewport is 412px or smaller */
    }
    .row1{
        margin-left: 40px;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
    }
    .task{
        background-color: white;
        min-width: 350px;
    }
  }
  